<%- include('./partials/header.ejs') %>

<form action="/login6625" method="POST">

    <div id="game-form">
        <div class="form-group">
            <label for="exampleInputEmail1" style="color: red;">Username</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="username" placeholder="username">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>

          <div class="form-group">
            <label for="exampleInputPassword1" style="color: red;">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" name="password" placeholder="Password">
        </div>

         <button type="submit" class="btn btn-primary">Login</button><br>
      

          
        
    
    </div>

</form>

<%- include('./partials/footer.ejs') %>