body {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/9/92/Elegant_Background-14.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#game-form{
    margin: 20px auto;
    margin-top: 10vw;
    align-content: center;
    text-align: center;
    width: 50vw;
    opacity: 0.8;
}